html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    width: 100%;
    
}

img{
    max-width: 100%;
}

/* Header */

header{
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid seashell;
    width: 100%;
    min-height: 3.18rem;
    max-height: 3.18rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    color: seashell;
    flex-wrap: nowrap;
    z-index: 10;
    background-color: black;
}

.logo{
    margin: 0.45rem;
    max-height: 2.27rem;
    
}

nav{
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0,909rem;
}

nav a{
    color: seashell; 
    padding: 0.5rem;
}

/* Body */

body{
    position: relative;
    top: 3.18rem;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    width: 100%;
    margin: 0px;
}

/* Main */

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#mission{
    height: 700px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("media/img-mission-background.jpg");
    background-size: cover;
    max-width: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 2;
    
}

#mission .mission-text{
    width: 100%;
    background-color: black;
    color: seashell; 
}

#featured{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    flex:1 1 300px;
    width: 100%;

}

.tea-options{
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

#locations{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("media/img-locations-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-flow: row wrap;
    min-height: 500px;
    margin-top: 50px;
    flex-shrink: 1;

}

#locations h2{
    width: 100%;
}

#locations div{
    background-color: black;
    margin: 15px 40px;
    opacity: 1;
    width: 300px;
}

.contact{
    text-align: center;
    min-height: 200px;
}

footer{
    text-align: left;
    margin-left: 20px;
    width: 100%;
}